---
import Register from "../../components/auth/Register.svelte";
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Register Page">
    <h1>Register</h1>
    <Register client:load />
</Layout>