@import "variables.css";



.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;

}

.plan-container {
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}