:root {
    --primary-color: #121517;
    --secondary-color: #161A1D;
    --tertiary-color: #1B1F22;
    --accent-color: #04FF00;
    --alt-accent-color: #00CCFF;
    --text-color: #333;
    --error-color: #FF0000;
}