---
---

<div id="container">
	<main>
		<section id="hero">
			<h1>Welcome to YaLum Fitness!</h1>
			<p>Your one-stop destination for all things fitness. </p>

		</section>
	</main>

</div>

<style>
	@import '../css/home.css';
</style>